Package: com.antisocial.patch
Name: antisocial_patch
Version: 1.0.0
Architecture: iphoneos-arm
Description: Antisocial runtime resolver
Author: Raphatlia
Maintainer: Raphatlia
Section: Tweaks
Depends: mobilesubstrate
